@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap');
/*Footer Css */


@font-face {
    font-family: 'Gellix_Light';
    src: url('/public/fonts/Gellix_Light/Gellix-Light.woff2') format('woff2'),
        url('/public/fonts/Gellix_Light/Gellix-Light.woff') format('woff');
    /* Add additional src lines for other formats if necessary */
}

@font-face {
    font-family: 'Gellix_Regular';
    src: url('/public/fonts/Gellix_Regular/Gellix-Regular.woff2') format('woff2'),
        url('/public/fonts/Gellix_Regular/Gellix-Regular.woff') format('woff');
    /* Add additional src lines for other formats if necessary */
}

@font-face {
    font-family: 'Gellix_Medium';
    src: url('/public/fonts/Gellix_Medium/Gellix-Medium.woff') format('woff');
}

/* styles.module.css */

.footer_container {
    display: flex;
    justify-content: space-between;
    /* Align items at each end */
    align-items: center;
    height: 120px;
    text-align: center;
    background-color: #151526;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #999;
}

.footer_container h1 {
    margin-left: 200px;
    font-family: oswald;
    font-size: 35px;
}

.footer_container p {
    margin-right: 120px;
    font-size: 1rem;
    flex: 1;
    /* Take up remaining space */
    text-align: center;
    /* Center text */
}

.footer_container nav {
    flex: 0;
    /* Prevent nav from growing */
}

.footer_container nav ul {
    list-style-type: none;
    margin-right: 200px;


    /* Align list items to the left */
}

.footer_container nav ul li {
    margin: 0 10px;
    /* Adjust spacing between list items */
    display: inline;
    /* Display list items inline */
}

.footer_container nav ul li a {
    color: #999;
    text-decoration: none;
}

.footer_container nav ul li a:hover {
    color: #fff;
    /* Example of hover effect */
}



.footer_item_div {
    font-family: 'Gellix_Medium';
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    justify-content: space-between;
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 8.5%;
    /* font-weight: 300; */
}

.top_div {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-wrap: wrap;
    align-items: center;
    display: flex;


}

.bottom_div {
    display: flex;
    background-color: #03a172;
    border-radius: 8rem;
    height: 50px;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}


.btn_link {
    grid-column-gap: 0.75rem;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    height: 50px;
    border-radius: 8rem;
    padding: .75rem 1.75rem;
    font-size: 16px;
    transform: translate3d(6px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    background-color: #00C389;
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    color: #fcfcfc;


}

.btn_link:hover {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    background-color: #f0f0f0;
    color: #283241;

}

.inner_div {
    font-family: 'gellix', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.55rem;


}

@media (max-width:867px) {
    .footer_item_div {
        grid-auto-flow: row;
    }

    .footer_btn_div {
        margin: 32px 0 0;
    }

    .footer_icons {
        margin: 48px auto 0 !important;
    }

    .footer_termsAndCondition {
        display: grid;
        grid-auto-flow: row !important;
        align-items: center;
        justify-content: center !important;
        justify-content: space-between;
        gap: 10px;
        margin: 32px auto 0;
        width: 100%;
        padding: 16px 18px 32px;
        border-top: 1px solid green;
        width: 85%;
    }

    .footer-links-container a.footer_link {
        margin: 0 15px;
        /* Adjust the value as needed */
    }

    .footer-links-container a.footer_link {
        margin-right: 15px;
        /* Adjust the value as needed */
    }

    .footer_termsAndCondition div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
    }
}

.footer_menu_list {
    list-style: none;
    font-size: 24px;
    text-align: left;
    /* line-height: 55px; */
    padding-left: 0;
    height: 225px;
    box-sizing: border-box;
}

.footer_middle_list {
    /* background-color: aqua; */
    margin: 16px 0 0;
    /* height: 32px; */
}

.footer_menu_list li {
    height: 32px;
}

.footer_menu_list li a {
    text-decoration: none;
    color: #283241;
    height: 32px;
}

.footer_menu_list li a:hover {
    color: #00C389;
}

.footer_btn {
    font-size: 18px;
    padding: 16px 20px;
    border-radius: 9999px;
    border: 1px solid #00C389;
    background-color: transparent;
    cursor: pointer;
    font-family: "Gellix";
}

.footer_btn2 {
    background-color: #00C389;
    color: #FFFFFF;
    width: 140.89px;
}

.footer_btn1 {
    color: #283241;
    width: 207.66px;
}

.footer_btn1:hover {
    background-color: #00C389;
    color: #F7F7F7;
}

.footer_btn_div {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    gap: 15px;
    margin-right: 15px;
    /* margin-top: 35px; */
}

@media (max-width:650px) {
    .footer_btn_div {
        grid-auto-flow: row;
    }
}

.footer_icons {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    margin: 112px auto 0;
    /* padding: 15px 0px;
    padding-bottom: 25px; */
    /* border-bottom: 1px solid green; */
    width: 84%;
    /* padding: 0 8%; */
}

.footer_store_icons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer_handle_icons {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 48px;
    opacity: 0.7;
}

.footer_handle_icon_div {
    width: 32px;
    height: 32px;
    text-decoration: none;
    color: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_handle_icon_div:hover {
    color: #00C389;
    opacity: 1;
}

.footer_termsAndCondition {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 32px auto 0;
    width: 100%;
    padding: 16px 18px 32px;
    border-top: 1px solid green;
    width: 85%;
}

.footer_termsAndCondition div {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.footer_links_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 0 0 16px;
}

.privacy {
    margin-right: 20px;
    margin-left: 10px;
}

.footer_termsAndCondition a {
    font-family: "Gellix_Regular";
    color: #28324166;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;

}


.footer_termsAndCondition a:hover {
    color: #00C389;
}

.all_rights_reserver_text {
    font-family: "Gellix_Regular";
    font-size: 12px;
    color: #28324166;
}

.footer_container_upper_div {
    height: fit-content;
    box-sizing: border-box;
}