/* Layout3 */
@font-face {
    font-family: 'Gellix';
    src: url('../../../public/fonts/Gellix-SemiBold.woff2') format('woff2'),
        url('../../../public/fonts/Gellix-SemiBold.woff') format('woff');
}

.case_study_outermost_div {
    max-width: 1247px;
    /* width: 100%; */
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    /* padding: 0 8%; */
    margin-bottom: 25px;
    z-index: 1;
    margin: 0 auto;
    /* margin-bottom: 00px; */
    padding-top: 0px;
    scroll-behavior: smooth;
}

.layout3_text_div {
    height: fit-content;
    padding: 20px 0;
}

/* .platform-steps-topDiv-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 54px;
      width: 40%;
      margin: 0 auto;
    } */
.platform_steps_topDiv_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 54px;
    width: 600px;
    margin: 0 auto 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1;
    font-family: 'Gellix';
}

.case_study_heading_left {
    align-self: flex-start;
    transition: transform 0.5s ease, opacity 0.5s ease-in;
    /* You can adjust the duration and easing as needed */
    transform: translateX(-250px);
    opacity: 0.5;
}

.case_study_heading_right {
    align-self: flex-end;
    transition: transform 0.8s ease, opacity 0.5s ease-in;
    /* You can adjust the duration and easing as needed */
    transform: translateX(250px);
    opacity: 0.5;

}

.reached_caseStudy_transition {
    transform: translateX(0);
    opacity: 1;
    /* Adjust the translation value to control how much it moves in from the left */
}

.layout3_caseStudies {
    height: fit-content;
    background-color: #283241;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    z-index: 1;
}

.case_study_typewriter_text {
    color: #00C389;

}

.caseStudies_inner_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-auto-flow: column;
    gap: 100px;
    text-align: start;
    padding: 32px;
    box-sizing: border-box;
    z-index: 1;
}

.caseStudys_container_left_div {
    color: #FFFFFF;
    text-align: start;
    padding-left: 30px;
    /* max-width: 546.4px; */
    /* line-height: 0.5rem; */
    margin: 0 25px 0 0;
    width: 85%;
    font-family: 'Gellix';

}

.caseStudys_container_left_div p {
    font-size: 14px;
    font-family: "Gellix_Regular";
}

.row_caseStudies {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 15px;
}

.caseStudys_container_left_div h2 {
    font-size: 36px;

}

.caseStudys_container_right_div {
    width: fit-content;
    text-align: start;
    width: 73%;
}

.caseStudys_container_right_div p {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 18px;
    font-family: "Gellix_Regular";
}

.caseStudys_container_right_div p a {
    color: #00C389;
    font-size: 18px;
    text-decoration: none;
}

.caseStudys_container_right_div p a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #00C389;
}

.caseStudy_items_div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-auto-flow: column; */
    gap: 15px;
    overflow-y: scroll;
    /* Enable vertical scrolling */
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar in Internet Explorer/Edge */
    padding: 25px 0 0 0;
    z-index: 1;

}

.caseStudy_items_div::-webkit-scrollbar {
    width: 0;
    /* Hide the scrollbar in Webkit browsers */
}

.image_container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;

}

.caseStudy_image {
    /* height: 409px;
    width: 546px; */
    border-radius: 15px;
    transition: transform 0.3s ease;
}



/* .caseStudy_image {
      height: 325px;
      width: 433.6px;
      border-radius: 15px;
    } */

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 15px;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 1;
}

.tag {
    box-sizing: border-box;
    width: fit-content;
    height: 36px;
    background-color: #FFAA46;
    border-radius: 25px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
}

.tags .tag:nth-child(2) {
    background-color: #283241;
}

.image_caption {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0 15px;
    text-align: center;
    z-index: 1.2;
    font-family: "Gellix";
}

.layout3_progressBar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-auto-flow: column; */
    gap: 15px;
    width: 100%;
    margin-top: 25px;
}

.layout3_progressBar_div_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.layout3_progressbar {
    width: 90%;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.progress_bar_fill {
    height: 100%;
    background-color: #00C389;
    /* Color of the filled portion */
    border-radius: 25px;
    transition: width 0.3s ease;
    /* Add a smooth transition effect */
}

.layout3_progressbar_button_div {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.layout3_progressBar_div h3 {
    color: #FFFFFF;
}

.layout3_progressbar_button_div div {
    width: 48px;
    height: 48px;
    border: 1px solid #F7F7F7;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout3_progressbar_button_div div:hover {
    background-color: #FFFFFF;
}

.caseStudy_image:hover {
    transform: scale(1.2);

}

.case_study_bottom_movable_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 456px;
    width: 100%;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    /* scroll-behavior: smooth; */
    margin-top: 175px;

    /* padding-bottom: 100px; */
    border-radius: 25px;
    background-image: url("https://shepper.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbook-a-demo-background.82e540b4.jpg&w=1920&q=75");
}

.vertical_carousel_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.vertical_carousel_first_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 15px;
}

.I_need_text {
    font-size: 36px;
    font-family: 'Gellix';
}

/* .book_demo_link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    background-color: #00C389;
    color: #FFFFFF;
    border-radius: 25px;
    width: 178.19px;
    height: 45.6px;
    font-size: 18px;
    box-sizing: border-box;
  } */

.splide__slide.is-visible p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel_text_div p {
    font-size: 20px;
    opacity: 0.5;
    transition: font-size 0.3s ease-in, opacity 0.3s ease-in;
    font-family: 'Gellix';
}

.splide__slide.is-active p {
    font-size: 36px;
    opacity: 1;
    transform: translateY(-25px);
}

.top_div {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.bottom_div {
    display: flex;
    background-color: #03a172;
    border-radius: 8rem;
    height: 55px;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
}

.btn_link {
    grid-column-gap: 0.75rem;
    box-shadow: none;
    text-align: center;
    justify-content: center;
    height: 55px;
    border-radius: 8rem;
    padding: .75rem 1.8rem;
    font-size: 12px;
    transform: translate3d(6px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    background-color: #00C389;
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    color: #fcfcfc;
}

.btn_link:hover {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    background-color: #f0f0f0;
    color: #283241;
}

.inner_div {
    font-family: 'gellix', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.55rem;
}

@media (max-width:900px) {
    .bottom_div {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        height: 45px;
        margin-top: 0;
    }

    .btn_link {
        height: 45px;
        padding: 0.5rem 1.2rem;
        font-size: 10px;
    }

    .inner_div {
        font-size: 16px;
    }
}

@media (max-width:700px) {
    /* .caseStudy_image {
      height: 300px;
      width: 500px;
  
    } */

    .caseStudys_container_left_div h2 {
        font-size: 30px;
    }
}

@media (max-width:1020px) {
    .platform_steps_topDiv_heading {

        font-size: 48px;
        width: 480px;
        margin: 0 auto;
    }


    .case_study_heading_left {
        transform: translateX(0);
        opacity: 1;
    }

    .case_study_heading_right {
        transform: translateX(0);
        opacity: 1;
    }

    .I_need_text {
        font-size: 20px;
    }

    .carousel_text_div p {
        font-size: 16px;
    }

    .splide__slide.is-active p {
        font-size: 20px;
    }
}

@media (max-width:900px) {
    .case_study_outermost_div {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        padding: 0 8%;
        z-index: 1;
        margin-bottom: 100px;
    }

    .carousel_text_div p {
        font-size: 12px;
        opacity: 0.5;
        transition: font-size 0.3s ease-in, opacity 0.3s ease-in;
        font-size: 16px;
    }

    .splide__slide.is-active p {
        font-size: 24px;
        opacity: 1;
        transform: translateY(-25px);
        font-size: 18px;
    }

    .I_need_text {
        font-size: 18px;
    }
}

@media (max-width:776px) {
    .platform_steps_topDiv_heading {

        font-size: 36px;
        width: 420px;
        margin: 0 auto;
    }

    .case_study_outermost_div {
        margin-bottom: 10px;
    }

    .caseStudy_image {
        width: 90%;
        margin: 0 auto;
    }

    .tags {
        margin-top: 15px;
        margin-left: 35px;
        z-index: 1;
    }

    .image_caption {
        left: 20px;
    }

    .caseStudies_inner_container {
        padding: 0 10px;
    }

    .caseStudys_container_left_div h2 {
        font-size: 24px
    }

    .layout3_caseStudies {
        width: 100%;
        margin: 0 auto;
    }

    .layout3_progressBar_div {
        flex-direction: column;
    }

    .layout3_progressbar {
        width: 80%;
        height: 5px;
    }

    .caseStudies_inner_container {
        flex-direction: column;
        align-items: start;
        /* background-color: #00C389; */
        width: 100%;
        margin: 0 auto;
    }

    /* .caseStudys_container_right_div {
        width: 90%;
      } */

    .caseStudys_container_left_div {
        width: 90%;
    }

    .vertical_carouse_container {
        flex-direction: column;
    }

    .vertical_carousel_first_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }

    .splide_text_container {
        width: 80%;
    }

    .I_need_text {
        white-space: nowrap;
        width: 20%;
        font-size: 18px;
    }
}

@media (max-width:600px) {

    .bottom_div {
        height: 35px;
    }

    .btn_link {
        height: 35px;
        padding: 0.25rem 0.8rem;
        font-size: 8px;
    }

    .inner_div {
        padding-top: 6px;
        font-size: 14px;
    }

    .layout3_progressBar_div_inner {
        flex-direction: column-reverse;
        width: 95%;
    }

    .caseStudies_inner_container {
        gap: 10px;
    }

    .layout3_progressbar {
        width: 90%;
        height: 5px;
    }

    .carousel_text_div p {
        font-size: 10px;
        opacity: 0.5;
        transition: font-size 0.3s ease-in, opacity 0.3s ease-in;
    }

    .splide__slide.is-active p {
        font-size: 16px;
        opacity: 1;
        transform: translateY(-25px);
    }

    .I_need_text {
        font-size: 16px;
    }

    .book_demo_btn1 div a div {
        font-size: 11px;
        line-height: 1;
        text-align: center;
    }
}


@media (max-width:630px) {
    .platform_steps_topDiv_heading {

        font-size: 30px;
        width: 350px;
        margin: 0 auto;
    }
}